@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
body
{
    min-height: 100vh;
    background: linear-gradient(#300050, #00437a);
    overflow-x: hidden;}


    body::-webkit-scrollbar {
        width: 6px;
        background:#360055;
      }
      
      body::-webkit-scrollbar-thumb {
        background: linear-gradient(transparent, #ffffff);
        border-radius: 6px;
        border-radius: 20px;
      }
      
      body::-webkit-scrollbar-thumb:hover {
        background: linear-gradient(transparent, #00c6ff, transparent);
      }

header
{
    position: absolute;
    top: 2vh;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 10000 ;
}
header .logo
{
    font-size: 3rem;
    margin-top: 2vh;
    margin-left: 9vw;
    line-height: 2.3rem;
    color: #fff;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 10px 100px;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
header ul li a
{.menu
    {
        margin-top: 1vh;
        float: left;
        width: 30%;
        overflow: hidden;
        position: fixed;
    }
    
    .menu li
    {
        list-style: none;
        border-color: rgb(255, 0, 0);
        border-left-width: 1px;
        border-left-style: ridge;
        color: rgb(192, 184, 184);
        padding-left: 1rem;
    }
    .items
    {
        height: 100%;
        float: right;
        width: 70%; 
        position: relative;    
    }
    .items div
    {
        margin: 1rem;
        background-color: #49007a;
        border-radius: 10px;
        padding: 1rem;
    }
    text-decoration: none;
    padding: 6px 15px;
    color: #fff;
    border-radius: 30px;
}
header ul li a:hover,
header ul li a.active
{
    background-color: #fff;
    color: #2b1055;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #2a1d5c,transparent);
    z-index: 1000;
}
section.content::after
{
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, #1c1366,transparent);
    z-index: 1000;
}
section.content::before
{
    height: 50px;

    background: linear-gradient(to top, #00437a,transparent);
    z-index: 1000;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section img#front_planets
{
    z-index: 10;
}
section img#bg
{
    z-index: -10000;
}
#astro
{
    width: auto;
    height: auto;
    position: relative;
    animation: astronaut 5s infinite;
    z-index: 9;
}
#text
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 9;
}
#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 40px;
    background-color: #fff;
    font-size: 1.5em;
    color: #48005e;
    z-index: 1000000;
    transform: translateY(200px);
}

.list-heading {
    font-weight: normal;
    border-left-width: 2px;    background-color: black;

    color: #fff;
    
}

.content svg
{
    position: absolute;
    top: 20%;
    left: 43%;
    z-index: 1000;
}

.caro
{
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    justify-content: space-between;
}

.caro img
{
    height: auto;
    width: auto;
    position: relative;
    object-fit: none;
    margin: 5vw;
}

.caro ul
{
    display: flex;
    align-items: center;
    width: 100%;
    list-style: none;
}

.caro ul li
{
    background-color: rgb(255, 208, 0);
    border-radius: 5%;
    margin-left: 3vw;
    color: #3f3f3f;
    text-align: center;
    padding: 4vh;

}
.caro ul li i
{
    font-size: 5rem;
    display: block;
}



@keyframes astronaut 
{
    0%
    {
        transform: translate(1300%,0) rotate(0);
    }
    50%
    {
        transform: translate(0%,-200%) rotate(-180deg);
    }
    100%
    {
        transform: translate(-1300%,0) rotate(-360deg);
    }

}